<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/img/favicon.ico">
    <title>Two Factor Authentication</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/signin.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="text-center">
    <div class="form-signin">
        <div id="error w-100"></div>
        <h1 class="h3 mb-3 font-weight-normal">Please Input Your SMS Code and Password</h1>
        <label for="pin" class="sr-only"></label>
        <input type="number" id="pin" class="form-control" placeholder="SMS Code" required autofocus> &nbsp;
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required autofocus> &nbsp;
        <button class="btn btn-lg btn-primary btn-block" id="submit">Sign in</button>
    </div>
</body>
<script>
    $('#submit').click(function () {
        var password = $("#password").val();
        var token = $("#pin").val();
        $.post('/user/verify', {
            password: password
            , token: token
            , username: "123"
        }).done(function (data) {
            if(data.verified){
               $(location).attr('href', '/logged-in');
            }
            else{
                $("#error").append('<div class="alert alert-danger" role="alert"> <strong> ' + JSON.stringify(data.message) + '</strong>.</div>');
            }
        }).fail(function (data) {
            $("#error").append('<div class="alert alert-danger" role="alert"> <strong> ' + JSON.stringify(data.message) + '</strong>.</div>');
        })
    });
</script>

</html>