<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Two Factor</title>

    <link href="../public\assets\css\bootstrap.min.css" rel="stylesheet">

    <link href="../public\assets\css\signin.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">You are successfully logged in, thank you!</h1>
    </form>
    </body>
    </html>
