<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/img/favicon.ico">
    <title>Signin</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/signin.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="text-center">
	 <div id = "error"></div>
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Username" required autofocus> &nbsp;
        <button class="btn btn-lg btn-primary btn-block" id="submit">Sign in</button>
    </div>
</body>
<script>
    $('#submit').click(function() {
        var username = $("#username").val();
        $.post('/token', {
            username: username
        }).done(function() {
            $(location).attr('href', '/logged-in');
        }).fail(function(data) {
            $( "#error" ).append( '<div class="alert alert-danger" role="alert"> <strong> ' + JSON.stringify(data) + '</strong>.</div>' );
        });
    });

</script>

</html>
